@charset "UTF-8";

.column-thumbnail {
    text-align: center;
    line-height: 0 !important;
    width: 48px;

    img {
        border: 1px solid #eee;
        width: 100%;
        height: auto;
    }
}
